/* 0db4f5 */
:root {
    --color-grey: #d0d0d0; 
    --button-color: #7f7f7f
}

* {
    box-sizing: border-box;    
}

/* button, */
input[name="save"],
input[name="delete"],
input[name="cancel"]{
    border: none;
    color: white;
    border-radius: .7rem;
    font-weight: bold;
    align-content: center;
    box-shadow: 0px 0px 2px 0px #0e0e0e;
    -webkit-box-shadow: 0px 0px 2px 0px #0e0e0e;
}
/* 
button {
    width: 8em;
    height: 4rem;
} */
/* 
button:hover,
button:focus,
button:active{
    box-shadow: 0px 2px 5px 1px #000000;
    -webkit-box-shadow: 0px 2px 5px 1px #000000;
} */
.leaflet-top{
    margin-top: 12.5rem;
} 

.leaflet-bottom div,
.leaflet-bottom a,
.leaflet-bottom a:hover,
.leaflet-top div,
.leaflet-top a,
.leaflet-top a:hover,
.leaflet-container .leaflet-control-attribution
{
    background-color: var(--button-color);
    color: white;
}

.leaflet-bottom a:hover,
.leaflet-top a:hover
{
    opacity: .5;
    color: white;
}

/* .leaflet-top .leaflet-control-zoom{
    margin-top: 1.3rem;
} */

.leaflet-right .leaflet-control{
    margin-right: .4rem;
}

.leaflet-bottom .leaflet-control-layers,
.leaflet-top .leaflet-control-layers
{
    margin-right: 3rem;
    /* margin-bottom: 1.3rem; */
}

.leaflet-control-layers .leaflet-control-label {
    text-align: center;
}

.leaflet-control-layers:hover .leaflet-control-label{
    display: none;
}

.leaflet-touch .leaflet-control-layers-toggle {
    height: 50px;
}

.leaflet-touch .leaflet-bar a {
    height: 35px;
    width: 35px;
    line-height: 35px;
}

.component-title{
    text-align: center;
}

.component-title h3{
    margin-bottom: 2rem;
    margin-top: 0;
}

.component-title h2{
    margin-bottom: .5rem;
}

div[title="Total length"]{
    background-color: white;
    padding: .1rem;
    border: .1rem solid black;
}
div[title="Total length"],
div[title="Segment length"]{
    margin-top: 15%;
}


@media screen and (min-width: 768px){
/*     
    button {
        height: 5rem;
        width: 7rem;
        font-size: medium;
    } */

    /* .leaflet-control-zoom{
        margin-top: 8.5rem!important;
    } */

}