/* ----------- Variables ----------- */
:root {
    --button-color: #7f7f7f;
    --color-grey: #d0d0d0; 
    --color-red: #F20505;
    --color-blue: #1d89cc;
    --color-green: #00A62F;
}

/* ----------- Général ----------- */
* {
    box-sizing: border-box;    
}

input[name="save"],
input[name="delete"],
input[name="cancel"]{
    border: none;
    color: white;
    border-radius: .7rem;
    font-weight: bold;
    align-content: center;
    box-shadow: 0px 0px 2px 0px #0e0e0e;
    -webkit-box-shadow: 0px 0px 2px 0px #0e0e0e;
}


.component-title{
    text-align: center;
}

.component-title h3{
    margin-bottom: 2rem;
    margin-top: 0;
}

.component-title h2{
    margin-bottom: .5rem;
}

div[title="Total length"]{
    background-color: white;
    padding: .1rem;
    border: .1rem solid black;
}

div[title="Total length"],
div[title="Segment length"]{
    margin-top: 15%;
}

.cancel-button,.save-button, .delete-button, .modify-button {
    color: white;
}

.cancel-button, .modify-button {
    background-color: var(--color-blue);
}

.save-button{
    background-color: var(--color-green);
}
.delete-button {
    background-color: var(--color-red);
}


/* ----------- Leaflet ----------- */

.leaflet-top{
    margin-top: 9rem;
} 

.leaflet-bottom div,
.leaflet-bottom a,
.leaflet-bottom a:hover,
.leaflet-top div,
.leaflet-top a,
.leaflet-top a:hover,
.leaflet-container .leaflet-control-attribution
{
    background-color: var(--button-color);
    color: white;
}

.leaflet-bottom a:hover,
.leaflet-top a:hover
{
    opacity: .5;
    color: white;
}

.leaflet-right .leaflet-control{
    margin-right: .4rem;
}

.leaflet-bottom .leaflet-control-layers,
.leaflet-top .leaflet-control-layers
{
    margin-right: 3rem;
}

.leaflet-control-layers .leaflet-control-label {
    text-align: center;
}

.leaflet-control-layers:hover .leaflet-control-label{
    display: none;
}

.leaflet-touch .leaflet-control-layers-toggle {
    height: 50px;
}

.leaflet-touch .leaflet-bar a {
    height: 35px;
    width: 35px;
    line-height: 35px;
}

@media screen and (min-width: 768px){
    
    .leaflet-top{
        margin-top: 12.5rem;
    } 

}